<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/users"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/ProfileMapper.xml"/>
        <mapper resource="mapper/ProfileStockMapper.xml"/>
        <mapper resource="mapper/UserAccountMapper.xml" />
        <mapper resource="mapper/UserRoleMapper.xml" />
        <mapper resource="mapper/StockHistoryMapper.xml" />
        <mapper resource="mapper/StockSymbolMapper.xml" />
        <!--<mapper resource="StockUserMapper.xml"/>-->
        <!--<mapper resource="UserProfilesMapper.xml" />-->
    </mappers>
</configuration>