<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>profiles</title>
</head>
<body>

<input id="input_profile" type="text"/>
<button onclick="createProfileBtnPressed(event)" >create profile</button>

<div id="profiles">
</div>


<input id="input_symbol" type="text" />
<button onclick="createProfileSymbolBtnPressed(event)">create symbol</button>
<div id="symbols">
</div>

</body>

<script type="application/javascript">
    //utilities

    //<![CDATA[
    function encodeQueryData(data) {
        var ret = [];
        for (var d in data)
            ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
        return ret.join("&");
    }

    function removeAllChildren(elem) {
        if (elem) {
            while (elem.firstChild) {
                elem.removeChild(elem.firstChild);
            }
        }
    }

    //]]>
</script>

<script type="application/javascript">
    //ui functions, events
    function profileClick(event) {
        var element = this;
        var name = element.innerHTML;
        getProfileSymbols(name, function(symbols) {
            addSymbols(symbols);
        });
    }

    function createProfileBtnPressed(event) {
        var proInputElem = document.getElementById('input_profile');
        if (proInputElem) {
            var text = proInputElem.value;
            if (text) {
                createNewProfile(text, function(succeed) {
                    if (succeed) {
                        getProfiles(function(profiles) {
                            addProfiles(profiles);
                        });
                    }
                })
            }
        }
    }

    function createProfileSymbolBtnPressed(event) {

    }

    function addProfiles(profiles) {
        var prs = document.getElementById("profiles");
        while (prs.firstChild) {
            prs.removeChild(prs.firstChild);
        }

        //create ul
        var ul = document.createElement("ul");
        ul.setAttribute("id", "profile_list");
        prs.appendChild(ul);

        profiles.forEach(function (profile, idx, arr) {
            var button = document.createElement("button");
            button.onclick = profileClick;
            button.innerHTML = profile;
            ul.appendChild(button);
        });
    }

    function addSymbols(symbols) {
        var sdiv = document.getElementById("symbols");
        //remove all children
        removeAllChildren(sdiv);
        var ul = document.createElement("ul");
        sdiv.appendChild(ul);

        symbols.forEach(function (symbol, idx, arr) {
            var button = document.createElement("button");
            button.innerHTML = symbol;
            ul.appendChild(button);
        });
    }
</script>


<script type="application/javascript">
    //models
    function createNewProfile(pname, cmpHandler) {
        fetch('/api/profile_add?' + encodeQueryData({pname:pname})).then(function (resp){
            if (resp.ok) {
                resp.json().then(function(data){
                    cmpHandler(true);
                })
            } else {
                cmpHandler(false);
            }
        }, function(e) {
            cmpHandler(false);
        });
    }

    function deleteOneProfile(pname, cmpHandler) {
        fetch('/api/profile_delete?' + encodeQueryData({pname:pname})).then(function (resp){
            },
        function(e) {
        });
    }

    function addOneSymbol(pname, sname, cmpHandler) {
        fetch('/api/profile_symbol_add' + encodeQueryData({pname: pname, sname:sname})).then(
            function(resp) {},
            function(e) {}
        );
    }

    function deleteOneSymbol(pname, sname, cmpHandler) {
        fetch('/api/profile_symbol_delete' + encodeQueryData({pname: pname, sname: sname})).then(
            function(resp) {},
            function(e) {}
        );
    }

    function getProfiles(cmpHandler) {
        fetch('/api/profiles').then(function(resp) {
            if (resp.ok) {
                resp.json().then(function(profiles) {
                   cmpHandler(profiles);
                });
            }
        }, function(e) {
            console.log(e);
            cmpHandler([]);
        });
    }

    function getProfileSymbols(profileName, cmpHanlder) {
        var dic = {pname: profileName};
        var url = '/api/profile_symbols?' + encodeQueryData(dic);

        fetch(url).then(function(resp) {
            if (resp.ok) {
                resp.json().then(function(symbols) {
                    cmpHanlder(symbols);
                });
            }
        }, function(e) {
            console.log(e);
            cmpHanlder([]);
        });
    }
</script>


<script type="application/javascript">
    document.addEventListener("DOMContentLoaded", function(e) {
        getProfiles(function(profiles) {
            addProfiles(profiles);
        });

    });

</script>


</html>