<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.models.inter.ProfileMapper">
  <resultMap id="BaseResultMap" type="hello.models.dbmodel.Profile">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
  </resultMap>

  
  <sql id="Base_Column_List">
    pid, user_id, pname
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from profiles
    where pid = #{pid,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from profiles
    where user_id= #{user_id, jdbcType=INTEGER}
  </select>

  <select id="selectByUserIdAndProfileName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profiles
    where user_id=#{param1} and pname=#{param2}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from profiles
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hello.models.dbmodel.Profile">
    insert into profiles (pid, user_id, pname
      )
    values (#{pid,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hello.models.dbmodel.Profile">
    insert into profiles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="pname != null">
        pname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hello.models.dbmodel.Profile">
    update profiles
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hello.models.dbmodel.Profile">
    update profiles
    set user_id = #{userId,jdbcType=INTEGER},
      pname = #{pname,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>